@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageCSS{
        @*<link href="~/Static/css/main.css" rel="stylesheet" />*@
    }
<div id="wrapper">
    <h1 id="logo" style="display: none"><a href="#">Nick name</a></h1>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12 form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">日期拾取</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm datepicker" value="2015-11-11" />
                    </div>
                    <div class="col-md-7"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">多选</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm datemulti" value="2015-11-11,2015-11-12" />
                    </div>
                    <div class="col-md-7"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">区间</label>
                    <div class="col-md-3">
                        <div class="input-daterange daterange input-group">
                            <input type="text" class="input-sm form-control" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" />
                        </div>
                    </div>
                    <div class="col-md-7"></div>
                </div>
            </div>
        </div>
    </div>
</div>


