@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageCSS{
    <link href="~/Static/css/main.css" rel="stylesheet" />
}

<section id="header">
    <header>
        <span class="image avatar">
            <img src="images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">Nick name</a></h1>
        <p>
            I am always on the way to my dream!<br />
            Enjoy the journey!
        </p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">心情点滴</a></li>
            <li><a href="#two">生命之旅</a></li>
            <li><a href="#three">璀璨星空</a></li>
            <li><a href="#four">航海行程</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>
<div id="wrapper">

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="container">
                <header class="major">
                    <h2>心情点滴</h2>
                    <p>
                        You can write down your feelings during the journey!
                        <br />
                        <textarea name="note" id="note" placeholder="note" rows="4"></textarea>
                        <button id="Save" class="btn btn-default">保存</button>
                    </p>
                </header>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                @*<h3>Things I Can Do</h3>
                    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
                    <ul class="feature-icons">
                        <li class="fa-code">Write all the code</li>
                        <li class="fa-cubes">Stack small boxes</li>
                        <li class="fa-book">Read books and stuff</li>
                        <li class="fa-coffee">Drink much coffee</li>
                        <li class="fa-bolt">Lightning bolt</li>
                        <li class="fa-users">Shadow clone technique</li>
                    </ul>*@
                <h2>
                    <a href="#">Year of monkey!</a>
                </h2>
                <p>
                    Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.
                        Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.
                        Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.
                        Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.
                </p>
            </div>
        </section>

        <!-- Three -->
        <section id="three">
            <div class="container">
                <h2>Some Articles that recommend to you!</h2>
                @*<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>*@
                <div class="features">
                    <article>
                        <a href="#" class="image">acticle</a>
                        <div class="tags">
                            <div>
                                <button class="btn btn-info btn-sm">IT</button>&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-info btn-sm">旅行</button>&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-info btn-sm">旅行</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="inner">
                            <h4>Possibly broke spacetime</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                    <article>
                        <a href="#" class="image">acticle</a>
                        <div class="inner">
                            <h4>Terraformed a small moon</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                    <article>
                        <a href="#" class="image">acticle</a>
                        <div class="inner">
                            <h4>Snapped dark matter in the wild</h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Four -->
        <section id="four">
            <div class="container">
                <h3>Contact Me</h3>
                <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
                <form method="post" action="#">
                    <div class="row uniform">
                        <div class="6u 12u(xsmall)">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="6u 12u(xsmall)">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <input type="text" name="subject" id="subject" placeholder="Subject" />
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions">
                                <li>
                                    <input type="submit" class="special" value="Send Message" /></li>
                                <li>
                                    <input type="reset" value="Reset Form" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
@section PageJS{
    <script src="~/Static/js/main.js"></script>
    <script>
        $(function () {
            $('.nav li').click(function (e) {
                $('.nav li').removeClass('active');
                //$(e.target).addClass('active');
                $(this).addClass('active');
            });

        });
    </script>
}

