<?xml version="1.0" encoding="utf-8" ?>
<TCSmartFramework.DataAccess name="TCG0500004" url="http://tcconfig.17usoft.com/dbconnsetting/">
  <!--***-->
  <Database name="TCTourismBI">
    <read>
      <!--***读库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourismBI;User ID=TCTourismBI_test;Password=H09yPiMYeDNT*Eum" />
    </read>
    <write>
      <!--***写库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourismBI;User ID=TCTourismBI_test;Password=H09yPiMYeDNT*Eum" />
    </write>
  </Database>
  <Database name="TcTourismLog">
    <read>
      <!--***读库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TcTourismLog;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </read>
    <write>
      <!--***写库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TcTourismLog;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </write>
  </Database>
  <Database name="TCTourismResource">
    <read>
      <!--***读库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourismResource;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </read>
    <write>
      <!--***写库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourismResource;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </write>
  </Database>
  <Database name="TCTourism">
    <read>
      <!--***读库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourism;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </read>
    <write>
      <!--***写库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourism;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </write>
  </Database>
  <Database name="TcTourismOrder">
    <read>
      <!--***读库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TcTourismOrder;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </read>
    <write>
      <!--***写库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TcTourismOrder;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </write>
  </Database>
  <Database name="TCTourismCommunal">
    <read>
      <!--***读库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourismCommunal;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </read>
    <write>
      <!--***写库-->
      <server enabled="true" connectionString="Data Source=192.168.0.154,1438;Database=TCTourismCommunal;User ID=TcTourism_test;Password=TcToursm@test123!" />
    </write>
  </Database>

  <Database name="Journey">
    <read>
      <!--***读库-->
      <server enabled="true" connectionString="Data Source=10.1.184.162;Database=LeaRunFrameWork;User ID=sa;Password=xurui1991!" />
    </read>
    <write>
      <!--***写库-->
      <server enabled="true" connectionString="Data Source=10.1.184.162;Database=LeaRunFrameWork;User ID=sa;Password=xurui1991!" />
    </write>
  </Database>
</TCSmartFramework.DataAccess>
